.main {
  width: 50vw;
  margin: 100px 22vw 10rem;
  margin-top: 100px;
}

.wide {
  width: 70vw;
}

.headline {
  margin-bottom: 2rem;
  color: black;
}

@media screen and (max-width: 600px) {
  .main {
    width: 90vw;
    margin: 100px auto 10rem;
  }
}
